.pages-errors {
  padding-top: 200px;
  text-align: center;
}
.pages-errors__body {
  padding-top: 20px;
}
.pages-errors__label {
  vertical-align: top;
  font-size: 28px;
  font-family: Roboto-Medium, Roboto, serif;
}
